# BTTC API KEY
BTTC_API_KEY=

# Aurora API KEY
AURORA_API_KEY=

# BSCScan API KEY
BSC_API_KEY=

# private key for deployment on networks
TESTNET_DEPLOYER=
MAINNET_DEPLOYER=

# mnemonic for test on development network (ganache)
MNEMONIC="fold goat expire slot deer lesson canal trigger hat best soft car"

# Blockchain network provider URI
BSC_TESTNET_PROVIDER=
BSC_MAINNET_PROVIDER=
BTTC_MAINNET_PROVIDER=
BTTC_TESTNET_PROVIDER=
AURORA_TESTNET_PROVIDER=
AURORA_MAINNET_PROVIDER=
